*{
  padding: 0;
  margin: 0;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: 0.5s;
  background-color: rgb(173, 155, 128);
}
.btn{
  width: 50%;
  padding: 10px 0;

}
.alert_box{ 
 z-index: 100; 
 position: fixed; 
 align-items: center; 
 justify-self: center; 
 display: flex; 
 justify-content: space-between; 
 padding:20px; 
 box-sizing: border-box; 
 width: 70%; 
 height: 100px; 
 background-color: bisque;
 transition: 0.5s; 
 transform: translateY(-100%); 
} 
.alert_box:hover{ 
 transform: translateY(0); 
}
.alert_box.danger {
  border-left: 2px solid #e74c3c;
  background: #fdeaea;
}

.alert_box.warning {
  border-left: 2px solid #f39c12;
  background: #fef5e7;
}

.alert_box.success {
  border-left: 2px solid #2ecc71;
  background: #eafaf1;
}

.alert_box.info {
  border-left: 2px solid #3498db;
  background: #eaf2f8;
}