USE [master]
GO
/****** Object:  Database [russiaBase]    Script Date: 31.03.2026 10:17:58 ******/

USE [russiaBase]
GO
/****** Object:  Table [dbo].[City]    Script Date: 31.03.2026 10:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Population] [int] NOT NULL,
	[Square] [decimal](18, 2) NOT NULL,
	[RegionId] [int] NOT NULL,
	[Picture] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Okrug]    Script Date: 31.03.2026 10:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Okrug](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Okrug] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 31.03.2026 10:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[OkrugId] [int] NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Title], [Population], [Square], [RegionId], [Picture]) VALUES (1, N'Белгород', 321761, CAST(153.00 AS Decimal(18, 2)), 1, N'https://avatars.mds.yandex.net/get-entity_search/4734331/1244566910/S122x122Smart_2x')
INSERT [dbo].[City] ([Id], [Title], [Population], [Square], [RegionId], [Picture]) VALUES (2, N'Валуйки', 33032, CAST(34.00 AS Decimal(18, 2)), 1, N'https://avatars.mds.yandex.net/get-entity_search/4740766/1244386484/S122x122Smart_2x')
INSERT [dbo].[City] ([Id], [Title], [Population], [Square], [RegionId], [Picture]) VALUES (3, N'Владивосток', 594201, CAST(325.99 AS Decimal(18, 2)), 10, N'https://avatars.mds.yandex.net/get-entity_search/5126074/1246876322/S122x122Smart_2x')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Okrug] ON 

INSERT [dbo].[Okrug] ([Id], [Title]) VALUES (1, N'Дальневосточный ФО')
INSERT [dbo].[Okrug] ([Id], [Title]) VALUES (2, N'Приволжский ФО')
INSERT [dbo].[Okrug] ([Id], [Title]) VALUES (3, N'Северо-Западный ФО')
SET IDENTITY_INSERT [dbo].[Okrug] OFF
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([Id], [Title], [OkrugId]) VALUES (1, N'Белгородская область', 7)
INSERT [dbo].[Region] ([Id], [Title], [OkrugId]) VALUES (2, N'Воронежская область', 7)
INSERT [dbo].[Region] ([Id], [Title], [OkrugId]) VALUES (3, N'Калининградская область', 3)
SET IDENTITY_INSERT [dbo].[Region] OFF
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Region]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Okrug] FOREIGN KEY([OkrugId])
REFERENCES [dbo].[Okrug] ([Id])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Okrug]
GO
USE [master]
GO
